In [2]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID','artist', 'play']
data = pd.read_csv(fname, sep='\t', names = col_names) # sep='\t'로 주어야 tsv파일을 열 수 있음.
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [4]:
using_cols = ['user_id', 'artist', 'play'] # 사용하는 컬럼들만 남겨줌.
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [5]:
data['artist'] = data['artist'].str.lower() # 아티스트 문자열을 소문자로 바꿔줌.
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [6]:
condition = (data['user_id'] == data.loc[0, 'user_id']) # 첫 번째 유저가 듣는 아티스트의 노래
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

In [7]:
# 유저 수
data['user_id'].nunique()

358868

In [8]:
# 아티스트 수
data['artist'].nunique()

291346

In [9]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [10]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [11]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

In [14]:
# 사용자 초기 정보 세팅
my_favorite = ['black eyed peas', 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# zimin이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정함.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist':my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any(): # user_id에 'zimin'이라는 데이터가 없다면 임의로 만든 my_favorite 데이터를 추가해줌.
    data = data.append(my_playlist)
    
data.tail(10)

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

In [16]:
# 고유한 유저와 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저와 아티스트를 인덱싱 하는 코드
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [17]:
print(user_to_idx['zimin'])
print(artist_to_idx['black eyed peas'])

358868
376

In [18]:
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data
else:
    print('user_id column indexing Fail!!')
    
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('aritst column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')
    
data

user_id column indexing OK!!
aritst column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

In [19]:
# 1회만 플레이한 데이터의 비율
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')

147740,17535660
Ratio of only_one over all data is 0.84%

In [20]:
# CSR (Compressed Sparse Row) Matrix
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape = (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

In [21]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# Implicit AlternatingLeastSquares 모델의 선언  (factors = user와 item의 벡터 차원)
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [22]:
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [23]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [24]:
# zimin 벡터와 black eyed peas의 벡터를 어떻게 만들고 있는지
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas'] 
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

In [25]:
zimin_vector

array([ 0.76132077,  1.1782776 , -0.6166541 ,  0.3467529 , -0.45008954,
       -0.3965559 ,  0.18357642, -0.33652842, -0.46917427,  0.84711915,
       -0.3631135 , -0.0327185 , -0.83133376,  0.29064643, -0.03964568,
        1.0648712 , -1.2303592 ,  0.5615266 , -0.08651974,  0.31098178,
        0.6067371 ,  0.07704746,  1.8009377 ,  1.0327476 , -0.9482664 ,
        0.42598173,  0.25145486, -0.08461119, -0.17675091,  1.5078886 ,
        1.1006594 , -1.2628244 ,  0.31085306, -0.11341365, -0.36885494,
        0.5105985 ,  0.75037295,  0.24972644, -0.37711006,  0.9635734 ,
       -0.92745835,  0.12255936,  0.16787687, -0.27499506, -0.00828968,
        0.8668057 , -0.02253243, -0.67646307, -0.97170377,  1.2112887 ,
        0.45391876,  0.3326502 ,  0.6963566 ,  1.1631428 , -0.19191512,
        0.3353506 ,  0.03384484, -1.0416486 ,  0.1734217 , -1.0814941 ,
       -0.51784444,  0.62007326, -0.5025942 , -0.28630146, -1.0473336 ,
        0.1738636 ,  1.6230191 , -0.1815978 , -0.63799363, -0.42599654,
        0.4690376 , -0.05283963, -0.73089015,  0.08171904, -0.54786485,
        0.71751064, -0.670506  , -0.6981967 , -0.24345632,  0.07256678,
       -0.83592176,  0.97074103, -0.59309614,  0.24657966, -0.86431104,
       -0.6297917 , -0.15867016,  0.34095964,  0.01102918, -1.2156545 ,
       -0.13701418,  0.5863968 ,  0.9153924 , -0.25290388, -0.01057089,
       -0.8461626 ,  0.46710765,  0.30241048, -0.64539236,  0.85017663],
      dtype=float32)

In [26]:
black_eyed_peas_vector

array([ 0.01189456,  0.01532102,  0.01512224,  0.0269378 , -0.00075379,
       -0.00690983,  0.00141757, -0.00232543,  0.00319016,  0.00914412,
       -0.0088042 ,  0.00909489, -0.01332489,  0.00302437,  0.00727103,
        0.00816512, -0.0039206 ,  0.02616334,  0.00845786, -0.00766581,
        0.02450564,  0.00403817,  0.04267665,  0.01564836, -0.01836249,
        0.01815652,  0.03075843, -0.00484053, -0.00153673,  0.0201375 ,
        0.0323693 , -0.00432105,  0.00481152, -0.00185916, -0.00791652,
        0.01689128,  0.01453638,  0.00076129,  0.00421561,  0.02748526,
       -0.00939483, -0.00254463, -0.0049639 , -0.00566669, -0.00480024,
       -0.00226352, -0.00510379,  0.0052995 ,  0.00018011,  0.02693589,
       -0.00178751,  0.01549863,  0.00604689,  0.02150031, -0.00016792,
        0.00060578,  0.01629929,  0.00160429,  0.02271576,  0.01001502,
       -0.00431834,  0.01405862, -0.00283787, -0.00094552, -0.00777954,
        0.00375552,  0.00437243, -0.00116274,  0.00675768, -0.00606176,
        0.00979783,  0.0141424 , -0.00014939, -0.00044458,  0.00309029,
        0.02153796,  0.00689605, -0.00548832, -0.00428174,  0.00735394,
       -0.00394745,  0.0305967 , -0.00067656,  0.00745639,  0.01517031,
        0.00264473,  0.0034306 ,  0.00752303,  0.00786813, -0.00395581,
        0.00947938,  0.01760384,  0.01699165,  0.00844336,  0.00771459,
        0.00349143,  0.01159851,  0.00662546,  0.00556002,  0.00835424],
      dtype=float32)

In [27]:
# 두 벡터를 곱하면 어떤 값이 나오는지
np.dot(zimin_vector, black_eyed_peas_vector)

0.50480235

In [28]:
# queen에 대한 선호도
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.34346738

In [29]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15) # coldplay와 비슷한 아티스트를 찾음.
similar_artist
# (아티스트 id, 유사도)를 튜플로 반환함.

[(62, 1.0000002),
 (277, 0.98807645),
 (28, 0.9817193),
 (5, 0.97980964),
 (473, 0.9716704),
 (217, 0.9714852),
 (247, 0.9690969),
 (490, 0.9620642),
 (418, 0.96098304),
 (694, 0.955131),
 (1018, 0.9540864),
 (910, 0.9529364),
 (268, 0.94738376),
 (782, 0.9468836),
 (75, 0.9445583)]

In [30]:
# index로부터 artist 이름을 얻는 dict를 생성함.
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'placebo',
 'radiohead',
 'the beatles',
 'oasis',
 'u2',
 'foo fighters',
 'the smashing pumpkins',
 'nirvana',
 'pink floyd',
 'the white stripes',
 'queen']

In [31]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

In [32]:
get_similar_artist('2pac')

['2pac',
 'dr. dre',
 'notorious b.i.g.',
 '50 cent',
 'nas',
 'snoop dogg',
 'the game',
 'jay-z',
 'ludacris',
 'ice cube']

In [33]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'beyoncé',
 'the pussycat dolls',
 'christina aguilera',
 'justin timberlake',
 'kelly clarkson',
 'leona lewis']

In [34]:
user = user_to_idx['zimin']
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.4556296),
 (369, 0.4526798),
 (354, 0.42570007),
 (1800, 0.42362553),
 (550, 0.42145586),
 (627, 0.4024527),
 (391, 0.39237514),
 (355, 0.38784584),
 (2249, 0.38346833),
 (382, 0.37939176),
 (564, 0.37520054),
 (5555, 0.37134698),
 (409, 0.36961383),
 (274, 0.3695495),
 (901, 0.36910683),
 (247, 0.36784074),
 (621, 0.36649945),
 (5, 0.36344004),
 (618, 0.36164677),
 (418, 0.35978898)]

In [35]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'justin timberlake',
 'nelly furtado',
 'lady gaga',
 'britney spears',
 'maroon 5',
 'christina aguilera',
 'madonna',
 'katy perry',
 'mika',
 'kanye west',
 'timbaland',
 'amy winehouse',
 'michael jackson',
 'pink',
 'the beatles',
 'alicia keys',
 'red hot chili peppers',
 'the pussycat dolls',
 'u2']

In [36]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

In [37]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.2251586210747576),
 ('black eyed peas', 0.14480381708128778),
 ('coldplay', 0.04555182898778115),
 ('jason mraz', 0.0424266699277317),
 ('maroon5', -0.00027321561903276834)]